html, body {
	font-family: Arial, sans-serif;
	color: white;
}

body{
	padding: 5px;
	background-color: #2f324c;
	border: 1px solid #2381cb;
}

h3#title_elem {
	font-size: 9pt;
	font-weight: bold;
	margin: 5px 0;
}

div.btn-group {
	width: 100%;
}

ul.multiselect-container {
	width: 100%;
}

button.multiselect.dropdown-toggle.btn.btn-default span {
	float: left;
}

button.multiselect.dropdown-toggle.btn.btn-default {
	border-radius: 0;
	font-size: 9pt;
	background-color: #999;
	border: 1px solid white;
	padding: 3px 5px;
	color: white;
}

b.caret {
	float: right;
	margin-top: 8px;
}

ul.multiselect-container.dropdown-menu {
	font-size: 9pt;
	border-radius: 0;
	background-color: #999;
}

ul.multiselect-container.dropdown-menu li label {
	padding-left: 25px;
	color: white;
}

ul.multiselect-container.dropdown-menu li a:hover {
	background-color: #999;
}

ul.multiselect-container.dropdown-menu li.active a {
	background-color: #999;
}

div.container {
	padding: 0;
}
